[Unit]
Description=ONVIF Detection Recorder
Documentation=https://github.com/danielwoz/ubiquiti-protect-onvif-event-listener
After=network.target postgresql@14-protect.service unifi-protect.service
Wants=postgresql@14-protect.service

[Service]
Type=simple
User=root
EnvironmentFile=-/etc/default/onvif-recorder
ExecStart=/usr/bin/onvif-recorder $ONVIF_RECORDER_FLAGS
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
